<section class="section-contacto" id="section-contacto">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-contacto">
                <h3 class="title">
                    Contactanos por los siguientes medios
                </h3>
                <div class="container-contactos">
                    <p class="paragraph-contacto">
                        Escribenos al correo: <br>
                        <em class="contacto correo">kamalacosmeticss@gmail.com</em>
                    </p>
                    <p class="paragraph-contacto">
                        Telefonos de contacto: <br>
                        <em class="contacto telefonos">Movil: 301 433 9590</em>
                    </p>
                    <p class="paragraph-contacto">
                        Visitanos en nuestra tienda fisica. <br>
                        <em class="contacto direccion">Cr 12 No. 12 - 29 Chía (Cundinamarca)</em>
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-mapa">
                <div class="container-mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.4594531520975!2d-74.06098261727017!3d4.862409074044993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f87893eee1dff%3A0x150c6c30aff7ec0!2sCra.%2012%20%23%2312-29%2C%20Ch%C3%ADa%2C%20Cundinamarca!5e0!3m2!1ses-419!2sco!4v1607919033459!5m2!1ses-419!2sco"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>