<section class="terminos-condiciones-politicas" id="terminos-condiciones-politicas">
    <div class="container">
        <article class="article">
            <h1 class="title">NUESTRAS POLÍTICAS</h1>
            <p class="paragraph">
                Bienvenido a nuestra tienda online KÁMALA, gracias por usar nuestros servicios!! Los siguientes términos de servicio rigen la relación entre usted como usuario y nosotros (Kámala) como prestadores del servicio, de acuerdo con lo normado por la ley 1581
                de 2012 y el Decreto 1377 de 2013 por la cual se dictan disposiciones generales para el trato y protección de datos personales.
            </p>
            <p class="paragraph">
                A continuación, encontrarás los términos de uso de nuestra página, las condiciones y políticas de operación de la empresa y de los servicios asociados que acá se presentan.
            </p>
            <p class="paragraph">
                Por favor leer atentamente, ya que al acceder a nuestro sitio reconoce su aceptación, sin limitación ni reserva. KÁMALA se reserva el derecho de modificar en forma unilateral los diseños, presentación o configuración de esta página. De la misma forma,
                estos Términos y Condiciones podrán variar sin previo aviso y sin que se requiera comunicación alguna. Esto no generará derecho a reclamo o indemnización a favor del usuario. Cuando accedes a este sitio aceptas estos Términos y Condiciones
                con las modificaciones que se hayan hecho.
            </p>
            <h3 class="subtitle subtitle-policies">
                INTERACCIÓN CON LOS CLIENTES
            </h3>
            <p class="paragraph">
                Políticas y procedimientos de compra:
            </p>
            <ol class="list" type="1">
                <li class="item">
                    <h4 class="subtitle">Licencias y restricciones.</h4>
                    <ol class="list-roman" type="I" start="1">
                        <li class="item-roman">
                            <p class="paragraph">
                                <span class="subtitle-list-roman">Concesión de licencia para el uso del
                                                                        servicio.</span> Kámala le concede una licencia limitada, no exclusiva e intransferible que estará en vigor o activa solo durante el periodo que el
                                cliente se encuentre activo haciendo uso del servicio ya sea a través de la aplicación web o aplicación móvil. Usted es responsable de todo el hardware y servicios de terceros para el uso de la aplicación o el servicio,
                                como la conexión a internet mediante un operador o por datos móviles. Nos reservamos todos los derechos no expresamente otorgados en este documento.
                            </p>
                        </li>
                        <li class="item-roman">
                            <p class="paragraph">
                                <span class="subtitle-list-roman">Acceso.</span> Para comprar a través de esta página usted deberá acceder vía internet desde su computador o smartphone y realizar la selección de los productos de acuerdo al catálogo que
                                hemos dispuesto, nos reservamos el derecho de agregar, modificar o actualizar dichas funcionalidades según nuestro criterio.
                            </p>
                        </li>
                        <li class="item-roman">
                            <p class="paragraph">
                                <span class="subtitle-list-roman">Información y gestión del pedido.</span>
                            </p>
                            <ol class="list-letter" type="a" start="a">
                                <li class="item-list-letter">
                                    <span class="subtitle-list-letter">Registro.</span>Le pediremos información de identificación, como tu nombre, edad, sexo, correo electrónico, numero de teléfono, ciudad, dirección de envío, casa o apartamento y barrio.
                                    Deberá autorizarnos el uso de tu información personal, ya que la necesitaremos para seguir nuestro proceso de compra. No podemos garantizar que terceros sin autorización violen nuestras medidas de seguridad y/o utilicen
                                    su información personal para fines inapropiados. Usted reconoce que proporciona su información personal de su cuenta bajo su propio riesgo.
                                </li>
                                <li class="item-list-letter">
                                    <span class="subtitle-list-letter">Información de pago.
                                    </span> Nuestra página ofrece diferentes opciones de pago autorizados por KÁMALA. Una vez el pago haya sido autorizado por la respectiva entidad bancaria, procederemos a realizar
                                    el alistamiento y despacho de tu producto. Todos los precios indicados para los productos que están disponibles a través del sitio online incluyen IVA de acuerdo a legislación vigente.
                                </li>
                                <li class="item-list-letter">
                                    <span class="subtitle-list-letter">Envío y entrega.
                                    </span> Una vez verificado el pago y las condiciones de entrega, procederemos a despachar sus productos de acuerdo con las siguientes condiciones: Los envíos se llevarán a cabo a
                                    través de las empresas de mensajería: Coordinadora o Servientrega. Estos son los únicos medios de envío de mercancía aceptados por KÁMALA, si la dirección que nos das no tiene cobertura por alguna de estas empresas,
                                    no se podrá continuar con el proceso. Le recomendamos revisar cubrimiento de las empresas de mensajería indicadas en tu municipio, antes de iniciar el pedido.
                                    <ol tipe="I">
                                        <li class="lis-item-roman">
                                            <span class="subtitle-list-letter">Tiempo promedio de envió.</span> El tiempo promedio de envío de nuestros productos es de tres a siete días.
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                        <li class="item-roman">
                            <p class="paragraph">
                                <span class="subtitle-list-roman">
                                    Limitaciones  y prohibiciones de
                                                                        uso.
                                </span> Usted acepta que no hará nada de lo siguiente expuesto con respecto al servicio o uso de la aplicación ya sea en su versión web/móvil o aplicación móvil.
                            </p>
                            <ol class="list-letter" type="a" start="a">
                                <li class="item-list-letter">
                                    Usar el servicio o aplicación para promover conflictos o la violación de alguna ley.
                                </li>
                                <li class="item-list-letter">
                                    Modificar cualquier contenido propiedad del servicio o aplicación
                                </li>
                                <li class="item-list-letter">
                                    Modificar, eliminar o eludir los protocolos de seguridad del servicio o aplicación.
                                </li>
                                <li class="item-list-letter">
                                    Promover la violación de las normas de lo expuesto en nuestra política de privacidad.
                                </li>
                                <li class="item-list-letter">
                                    Interferir con el buen funcionamiento del servicio o de la aplicación (web y móvil) ya sea sobrecargando el contenido o tratando de modificar alguna característica propia del servicio.
                                </li>
                                <li class="item-list-letter">
                                    Decodificar, hacer ingeniería inversa a la aplicación (web y móvil), tomar el código fuente y compartirlo o usarlo.
                                </li>
                                <li class="item-list-letter">
                                    Modificar derechos de autor existentes propiedad de la aplicación o de terceros a los que el servicio les atribuye dicha autoría.
                                </li>
                            </ol>
                        </li>

                    </ol>
                </li>
                <li class="item">
                    <h4 class="subtitle">Datos del usuario.</h4>
                    El servicio recopila datos e información personal para finalizar la compra. Estos datos serán almacenados en nuestras bases de datos y serán tratados de acuerdo a nuestra política de privacidad.
                    <ol class="list-roman" type="I" start="1">
                        <li class="item-roman">
                            <p class="paragraph">
                                <span class="subtitle-list-roman">Proyección de contenido.</span> No asumimos ninguna responsabilidad por el monitoreo del contenido, por contenido o conducta inapropiada. Nos reservamos el derecho para seleccionar y supervisar
                                datos y/o el contenido de los usuarios. Por la presente usted autoriza y da su consentimiento para dicha supervisión. Usted reconoce y acepta que no tiene expectativas de privacidad con respecto a la transmisión de ningún
                                contenido o contenido de usuario.
                            </p>
                            <ol class="list-roman" type="I" start="1">
                                <li class="item-roman">
                                    <p class="paragraph">
                                        <span class="subtitle-list-roman">Opciones sobre el contenido del usuario.</span> Nos reservamos el derecho a limitar el uso del servicio a nuestro exclusivo criterio en relación a funcionalidades del servicio.
                                    </p>
                                </li>
                                <li class="item-roman">
                                    <p class="paragraph">
                                        <span class="subtitle-list-roman">Cooperación con la policía.
                                        </span> Tenemos el deber y el derecho de cooperar con las instituciones y autoridades policiacas en caso de órdenes judiciales y otros procedimientos judiciales, en dichos
                                        casos deberemos suministrar los datos e información correspondiente a nuestros usuarios. También en el caso de que estas políticas violen las leyes es nuestro deber cooperar con dichas autoridades. Por los motivos
                                        expuestos anteriormente usted acepta, da su consentimiento y nos exime de cualquier reclamo y acción que resulte en contra de nosotros en el ejercicio de estos derechos y deberes.
                                    </p>
                                </li>
                            </ol>
                        </li>
                        <li class="item-roman">
                            <p class="paragraph">
                                <span class="subtitle-list-roman">Contenido.</span> El servicio, la aplicación móvil y web, las funcionalidades, componentes, datos, logos e imágenes son derechos de propiedad de exclusivas de Kámala, nos reservamos el
                                derecho de atribuir derechos de autor a todos aquellos contenidos desarrollados por terceros y usados por el servicio en la aplicación (móvil y web).
                            </p>
                        </li>
                    </ol>
                </li>
                <li class="item">
                    <h4 class="subtitle">Software móvil / aplicación.</h4>
                    La aplicación hace que el servicio esté disponible en un dispositivo móvil(smartphone) o dispositivo que tenga acceso a la web, dicho dispositivo debe ser compatible, no garantizamos la compatibilidad de su dispositivo. Usted acepta y consiente que así
                    la aplicación este instalada en su dispositivo sigue siendo de nuestra propiedad y usted no debe infringir ninguna política como las expuestas en el numeral 1.4. En algunas ocasiones actualizaremos la aplicación y sus funcionalidades.
                    A nuestro exclusivo criterio agregaremos o eliminaremos características y funcionalidades.
                </li>
                <li class="item">
                    <h4 class="subtitle">Publicidad de terceros.</h4>
                    <ol class="list-roman" type="I" start="1">
                        <li class="item-roman">
                            <p class="paragraph">
                                <span class="subtitle-list-roman">Anuncios de terceros.</span> Actualmente la aplicación no contiene anuncios de terceros, sin embargo, nos reservamos el derecho de publicar anuncios de terceros en cualquier momento de
                                acuerdo a nuestra política de privacidad.
                            </p>
                        </li>
                        <li class="item-roman">
                            <p class="paragraph">
                                <span class="subtitle-list-roman">Enlaces a sitios de terceros.</span> Podemos publicar enlaces a sitios web de terceros, en casos de derechos de autor de recursos que utilizamos de terceros. En el momento no contamos con
                                convenios con terceros, pero nos reservamos el derecho de establecer dichos convenios en cualquier momento y publicitarlos en el servicio. Si usted accede a uno de estos enlaces a sitios de terceros usted comprende, acepta
                                y consiente que lo hace bajo su propio riesgo y no seremos responsables por cualquier eventualidad, nuestra política de privacidad exclusivamente se aplica solo a nuestro servicio y no a los sitios y servicios de terceros
                                anteriormente expuestos.
                            </p>
                        </li>
                    </ol>
                </li>
                <li class="item">
                    <h4 class="subtitle">Avisos y derechos de autor.</h4>
                    Nuestra política de privacidad responde a la política de la Dirección Nacional De Derechos De Autor, de acuerdo a la ley 1915 del 12 de julio del 2018. La aplicación actualmente publica derechos de autor por el uso de recursos de terceros dentro del servicio.
                </li>
                <li class="item">
                    <h4 class="subtitle">Actualizaciones al servicio de aplicación.</h4>
                    El servicio obtendrá actualizaciones tanto visuales como funcionales a menudo, es posible que nuestras políticas de privacidad lleguen a cambiar, dado el caso le notificaremos sobre estos cambios, usted debe aceptar dicha política para seguir usando el
                    servicio.
                </li>
                <li class="item">
                    <h4 class="subtitle">Descargo de responsabilidad.</h4>
                    <ol class="list-roman" type="I" start="1">
                        <li class="item-roman">
                            <p class="paragraph">
                                <span class="subtitle-list-roman">No responsable de la conducta de terceros.</span> Usted acepta que no somos responsables por la conducta que puedan tener terceros o servicios de terceros publicados en el servicio, usted
                                asume cualquier riesgo de cualquier eventualidad de cualquier carácter correspondientes a los mencionados anteriormente, está bajo su responsabilidad. No seremos responsables de Hacking o cualquier otro acceso no autorizado
                                a cualquier información contenida en la misma.
                            </p>
                        </li>
                    </ol>
                </li>
                <li class="item">
                    <h4 class="subtitle">Provisiones generales.</h4>
                    <ol class="list-roman" type="I" start="1">
                        <li class="item-roman">
                            <p class="paragraph">
                                <span class="subtitle-list-roman">Actualización de esta política de privacidad.</span> Nos reservamos el exclusivo derecho a modificar estas políticas de privacidad expuestas en este acuerdo a nuestro criterio en cualquier
                                momento, esta actualización quedara disponible para su verificación en nuestra aplicación (web y móvil), también puede ser notificado de cambio o actualización de políticas mediante correo electrónico o mediante alguna
                                notificación propia del servicio. Consideramos que si usted sigue usando el servicio después de la actualización de estas políticas usted ha aceptado dichas políticas, salvo cualquier regulación o acción por ley.
                            </p>
                        </li>
                        <li class="item-roman">
                            <p class="paragraph">
                                <span class="subtitle-list-roman">Divisibilidad.</span> Usted y nosotros acordamos que si cualquier parte de este acuerdo parcial o totalmente es declarada por un tribunal ilegal no le exime de cumplir las disposiciones
                                restantes de esta política.
                            </p>
                        </li>
                        <li class="item-roman">
                            <p class="paragraph">
                                <span class="subtitle-list-roman">Fuerza mayor.</span> No seremos responsables por incumplimiento o retraso del servicio por cualquier eventualidad correspondiente a eventos como los expuestos a continuación:
                            </p>
                            <ol class="list-letter" type="a" start="a">
                                <li class="item-list-letter">
                                    Actos de guerra.
                                </li>
                                <li class="item-list-letter">
                                    Terrorismo.
                                </li>
                                <li class="item-list-letter">
                                    Actos de Dios.
                                </li>
                                <li class="item-list-letter">
                                    Pandemias.
                                </li>
                                <li class="item-list-letter">
                                    Huelgas.
                                </li>
                                <li class="item-list-letter">
                                    Actos de autoridades civiles o militares.
                                </li>
                                <li class="item-list-letter">
                                    Incendios.
                                </li>
                                <li class="item-list-letter">
                                    Inundaciones.
                                </li>
                                <li class="item-list-letter">
                                    Energía.
                                </li>
                                <li class="item-list-letter">
                                    Mano de obra o materiales.
                                </li>
                                <li class="item-list-letter">
                                    Escases de instalaciones.
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li class="item">
                    <h4 class="subtitle">Garantía de Productos</h4>
                    <ol class="list-roman" type="I" start="1">
                        <li class="item-roman">
                            <p class="paragraph">
                                Los pedidos no se pueden cancelar antes de ser recibidos por el comprador, la devolución lo podrá hacer únicamente cuando se haya recibido. <br> Si una vez recibido el producto desea cambiarlo o devolverlo, siga los siguientes
                                pasos:
                            </p>
                            <ul>
                                <li>Si es un producto en promoción, descuento o remate no es posible la devolución.</li>
                                <li>Debe notificar a Kámala dentro de los cinco días hábiles siguientes de haber recibido el producto y a través de nuestros canales autorizados indicados abajo, que deseas ejercer tu derecho de retracto.</li>
                                <li>Deberá asumir los costos de la devolución del producto, correspondencia, fletes y seguros.</li>
                                <li>
                                    El producto no puede estar averiado o deteriorado por acciones atribuibles al cliente. Debe hacer la devolución del producto en las mismas condiciones en que lo recibió y garantizar su integridad; solo se podrá iniciar el trámite, cuando los productos
                                    no presenten rastros de haber sido abiertos o usados y cuenten con las etiquetas intactas, accesorios y empaques originales y siempre que estén en un estado de limpieza impecable, así como el perfecto estado de la caja.
                                </li>
                                <li>Será su responsabilidad tomar las medidas pertinentes para que el producto se reciba en perfectas condiciones, incluida su caja y que no sufra deterioros en el transporte.</li>
                                <li>Debe presentarnos la factura o documento equivalente junto con el producto en cualquiera de nuestras tiendas o enviarlos directamente a nuestra dirección principal en Bogotá Calle 136 No. 91 – 32 Barrio Villa Elisa (Suba).
                                </li>
                                <li>
                                    La devolución del dinero se hará al mismo medio de pago utilizado al momento de la compra.
                                </li>
                                <li>
                                    Este derecho solo aplica para las compras hechas a través de esta página web. No aplica para las compras que hayas hecho en nuestros establecimientos.
                                </li>
                            </ul>
                        </li>
                    </ol>
                </li>
            </ol>
            <h3 class="subtitle-ley subtitle-policies">
                LEY APLICABLE
            </h3>
            <p class="paragraph">
                Los términos y condiciones de uso de este sitio web han sido creados en consideración de las normas aplicables de la legislación colombiana y su interpretación se hará conforme a la misma. Para la resolución de cualquier controversia relacionada con el
                sitio Web o de las actividades en él desarrolladas, será de aplicación la legislación colombiana vigente, a la cual se someten KÁMALA y los usuarios, con renuncia expresa a cualquier otro fuero.
            </p>
            <h3 class="subtitle-ley subtitle-policies">
                CANALES DE ATENCIÓN
            </h3>
            <p class="paragraph">Podrá comunicarse con KÁMALA a través de los siguientes canales de comunicación:</p>
            <p class="paragraph">
                Correo electrónico: kamalacosmeticss@gmail.com <br> Líneas de atención: Móvil: 3014339590 - Fija: 4770375 (Bogotá D.C.)
            </p>
            <p class="paragraph">
                Cr 12 No. 12 - 29 Chía (Cundinamarca)
            </p>
        </article>
        <div class="container-logo-kamala">
            <span class="line"></span>
            <img class="img" [src]="'assets/logos/home/SIMBOL2.png'" alt="Logo Kamala Azul" alt="">
            <span class="line"></span>
        </div>
    </div>
</section>