<section class="section-productos-subcategoria" id="section-productos-subcategoria">
    <div class="container">
        <div class="container-productos-subcategorias" *ngIf="productosSubcategoria | async as producto">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card card-producto" *ngFor="let item of producto | paginate: { itemsPerPage: 8, currentPage:p}" [routerLink]="['/producto', item.id]">
                        <img [src]="item.imgProducto" [alt]="" [title]="item.nombre">
                        <div class="ver-mas-detalles">
                            <button class="btn btn-ver-mas">
                                +
                            </button>
                            <span class="texto-ver-mas">Ver mas</span>
                        </div>
                        <div class="center-elements">
                            <span class="marca">{{item.marca.nombre}}</span>
                            <span class="name-producto">{{item.nombre}}</span>
                            <span class="precio">{{item.precio | currency: 'USD' : 'symbol': '3.0'}}</span>
                        </div>
                    </div>
                </div>
                <pagination-template #p1="paginationApi" (pageChange)="pageChange.emit($event);p = $event" class="paginationNgx">
                    <div class="pagination-previous" [class.disabled]="p1.isFirstPage()">
                        <a *ngIf="!p1.isFirstPage()" (click)="p1.previous()" class="arrowPagination arrowPrevius"> <img [src]="'assets/logos/home/chevron-back-outline.png'" class="arrowPagination arrowPrevius" alt=""> </a>
                    </div>

                    <div *ngFor="let page of p1.pages" [class.current]="p1.getCurrent() === page.value">
                        <a (click)="p1.setCurrent(page.value)" *ngIf="p1.getCurrent() !== page.value">
                            <span>{{ page.label }}</span>
                        </a>
                        <div *ngIf="p1.getCurrent() === page.value">
                            <span>{{ page.label }}</span>
                        </div>
                    </div>

                    <div class="pagination-next" [class.disabled]="p1.isLastPage()">
                        <a *ngIf="!p1.isLastPage()" (click)="p1.next()" class="arrowPagination arrowNext"> <img [src]="'assets/logos/home/chevron-forward-outline.png'" class="arrowPagination arrowNext" alt=""></a>
                    </div>
                </pagination-template>
            </div>
        </div>
    </div>
</section>