<section class="section-producto-detalle" id="section-producto-detalle">
    <div *ngIf="productoDetalle | async as producto">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="container-img col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                        <img class="img-producto" [src]="producto.imgProducto" alt=""/>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                        <div class="container">
                            <div class="container-caracteristicas">
                                <h3 class="marca">{{producto.marca.nombre}}</h3>
                                <h3 class="nombre">{{producto.nombre}}</h3>
                                <div class="container-contenido">
                                    <p class="contenido-cantidad contenido">Contenido:
                                        {{producto.contenidoNeto}}
                                        {{producto.unidadMedida.unidad}}
                                    </p>
                                </div>
                                <h4 class="precio">{{producto.precio | currency: 'USD' : 'symbol': '3.0'}}</h4>
                                <form [formGroup]="formProductoAgregado" (ngSubmit)="adicionalProductoAcesta(producto)">
                                    <div class="container-cantidad">
                                        <em class="cantidad">Cantidad</em>
                                        <div class="formGroup">
                                            <span class="btn btn-danger btn-minus" id="btn-minus" (click)="cantidadMinus()">-</span>
                                            <input type="number" name="cantidad" min="1" placeholder="0" [value]="cantidad" id="input-cantidad" formControlName="cantidad"/>
                                            <span class="btn btn-success btn-more" id="btn-more" (click)="cantidaMore()">+</span>
                                        </div>
                                    </div>
                                    <hr class="spacer"/>
                                    <p class="descripcion">{{producto.descripcion}}</p>
                                    <button class="btn btn-add-carrito" *ngIf="producto.estado == true; else elseFalse">
                                        Agregar a la cesta
                                        <img class="img-cart" [src]="'assets/logos/detalle-del-producto/bolsa_compra_azul.svg'" alt=""></button>
                                        <ng-template #elseFalse>
                                            <button class="btn btn-add-carrito" disabled="disabled">
                                                Agregar a la cesta
                                                <img class="img-cart" [src]="'assets/logos/detalle-del-producto/bolsa_compra_azul.svg'" alt=""></button>
                                                <small class="text-danger">*Producto sin existencias</small>
                                            </ng-template>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <app-nuevos-productos></app-nuevos-productos>
                        </div>
                    </div>
                </div>
            </div>
        </section>
